* {
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button{
    margin: 0 .5em;
    padding: 0.5em 1em;
    font-size: 75%;
    background-color: #AAAAAA;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: 1000;
    font-size: 2em;
}
.rules{
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}
.scoreboard{
    display: flex;
    justify-content: space-evenly;
    background-color: #AAAAAA;
    margin: 0 10vw;
}

.battlefield{
    height: 20vh;
    width: 80vw;
    display: flex;
    background-color: black;
    margin: 0 10vw 5vh;
}

.blankImg{
    max-width: 100%;
    max-height: 100%;
}

.outlineImg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.playerInput{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.input{
    width: 30vh;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input:hover .blankImg{
    background-color: white;
    display: inline;
}